/* now we are going to make our container
a lexbox to meet our desired design */

.container{
		margin: 100px;
		display: flex;
		flex-direction: row;
		position: relative;
		width: 400px;
		gap: 2px;
}
/* overflow  will help during hover so that the image
does enlarge beyond it's container and transition
to control the pace*/
img {
		object-fit: fit;
		transition: all 0.5s ease-in-out;
}

.photo, .photo1{
	overflow: hidden;
	width: 100%;
}

.photo {
		display: flex;
		justify-content: center;
		transition: all 0.5s ease-in-out;
}
.photo1 img {
		display: flex;
		justify-content: center;
		transition: all 0.5s ease-in-out;
		object-fit: cover;
}

/* controlling what will happen if we hover on the 
    image.
    grayscale turns it to gray and blur blurs the
    hovered image and the scale dictates how big
    image is unlarged */
.photo:hover img{

		filter: grayscale(2) blur(5px);
		transform: scale(1.1);
  
}
