.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-container {
/* style the container to be flexible */
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s ease-in-out;
  filter: brightness(0.88); 
}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 50px;
  margin-left: 25px;
  transition: all 0.5 ease-in-out;
}

.caption {
  position: absolute;
  bottom: 70px;
  left: 35px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.first {
  display: block;
  width: 100%;
}

.first, .second {
	margin: 0;
  padding: 0;
}

.link {
  position: absolute;
  bottom: 10px;
  left: 35px;
  /* Center the link horizontally and vertically */
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-out;
  /* Initially hide the link */
  opacity: 0;
  display: flex;
  left: 50%;
}

.link a {
  /* Removing the underline on the link */
 text-decoration: none;
 font-size: 16px;
}

/* The hover responsive and functionalities */
.photo:hover img {
  transform: scale(1.1);
  filter: brightness(0.7) grayscale(2) blur(8px);
}

.photo:hover .caption {
  position: absolute;
  bottom: 90px;
  left: 35px;
}

.photo:hover .link {
  opacity: 1;
}

/* Responsiveness  */

@media (max-width: 768px) {
    /* Hidden the caption when shrink */
    .photo .caption, .photo .link {
      display: none;
    }

    .gallery-container .photo {
      /* Take on the whole available space */
      height: 100vh;
    }
    /* Make the image fit */
    .gallery-container .photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;

  }
}
